
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background:whitesmoke;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background:whitesmoke;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #F4C430;
}

nav a {
    text-decoration: none;
    color:black;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #F4C430;
}

/* Intro Section */
.intro {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right,00,00);
    color:black;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

/* District Section */
.districts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 50px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    color: #1e3a8a;
}

.card ul {
    list-style: none;
}

.card a {
    text-decoration: none;
    color: #2563eb;
}

.card a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #5f74ae;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #F4C430;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        margin: 0 10px;
    }
}
